.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color:  rgb(58, 133, 219) transparent; /* For Firefox */
  }
  
  /* For WebKit browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(58, 133, 219); /* Scrollbar color */
    border-radius: 4px; /* Rounded corners for the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Scrollbar track color */
  }
  